@{
    ViewData["Title"] = @ViewBag.PageTitle;
}
<div class="categories">
    <h3 class="marbot">Categories</h3>
    <div class="btn-group-vertical categorylist" role="group" aria-label="...">
        @foreach (var item in ViewBag.Categories)
        {
            <a class="btn btn-default btnover" asp-controller="Home" asp-action="Details" asp-route-id="@item.ID">@item.Name</a>
        }      
    </div>
</div>
<div class="bookTable">
    <table class="table table-striped table-hover">
        <tr>
            <th>Title</th>
            <th>Author/s</th>
            <th>Price</th>
            <th>Genre/s</th>
        </tr>
        @foreach (var book in ViewBag.Books) 
        {
            <tr>
                <td><a asp-controller="Book" asp-action="Details" asp-route-id="@book.BookID">@book.BookTitle</a></td>
                <td>@foreach (var author in book.Authors) {<a asp-controller="Author" asp-action="Details" asp-route-id="@author.ID"><p>@author.Name</p></a>}</td>
                <td>@book.BookPrice</td>
                <td>@foreach (var genres in book.Genres) {<a asp-action="Details" asp-controller="Home" asp-route-id="@genres.ID"><p>@genres.Name</p></a>}</td>
            </tr>
        }
    </table>
</div>
