
@{
    ViewData["Title"] = "Home Page";
}
<div class="categories">
    <h3 class="marbot">Categories</h3>
    <div class="btn-group-vertical categorylist" role="group" aria-label="...">
        @foreach (var item in ViewBag.Categories)
        {
            <a class="btn btn-default btnover" asp-controller="Home" asp-action="Details" asp-route-id="@item.ID">@item.Name</a>
        }      
    </div>
</div>
<div>
    <table class="table table-striped table-hover">
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>Price</th>
            <th>Genres</th>
        </tr>
        @foreach (var book in ViewBag.Books) 
        {
            <tr>
                <td>@book.BookTitle</td>
                <td>@foreach (var author in book.Authors) {<p>@author.Name</p>}</td>
                <td>@book.BookPrice</td>
                <td>@foreach (var genres in book.Genres) {<p>@genres.Name</p>}</td>
            </tr>
        }
    </table>
</div>
